/* Suggested sizes (256x256 by default) */

.s43  { --icon-size:  43px }
.s64  { --icon-size:  64px }
.s86  { --icon-size:  86px }
.s128 { --icon-size: 128px }
:root { --icon-size: 256px }

/* Common CSS for all icons */

.shortcut-icon {
    /* SVG partial icon grid and gray background color, visible only if no color class is used */
    background-color: #7F7F7F7F;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" stroke="white" fill="none" stroke-width="0.5"><line x1="0%" y1="0%" x2="19.2%" y2="19.2%"/><line x1="80.8%" y1="80.8%" x2="100%" y2="100%"/><line x1="0%" y1="100%" x2="19.2%" y2="80.8%"/><line x1="80.8%" y1="19.2%" x2="100%" y2="0%"/><line x1="0%" y1="6%" x2="100%" y2="6%"/><line x1="0%" y1="31.5%" x2="15%" y2="31.5%"/><line x1="85%" y1="31.5%" x2="100%" y2="31.5%"/><line x1="0%" y1="50%" x2="15%" y2="50%"/><line x1="85%" y1="50%" x2="100%" y2="50%"/><line x1="0%" y1="68.5%" x2="15%" y2="68.5%"/><line x1="85%" y1="68.5%" x2="100%" y2="68.5%"/><line x1="0%" y1="94%" x2="100%" y2="94%"/><line x1="6%" y1="0%" x2="6%" y2="100%"/><line x1="31.5%" y1="0%" x2="31.5%" y2="15%"/><line x1="31.5%" y1="85%" x2="31.5%" y2="100%"/><line x1="50%" y1="0%" x2="50%" y2="15%"/><line x1="50%" y1="85%" x2="50%" y2="100%"/><line x1="68.5%" y1="0%" x2="68.5%" y2="15%"/><line x1="68.5%" y1="85%" x2="68.5%" y2="100%"/><line x1="94%" y1="0%" x2="94%" y2="100%"/><circle cx="50%" cy="50%" r="44%"/></svg>');
    /* iCloud link icons show a radius/size ratio of 1/6, although the closest ratio of iOS app icons is 2/9 */
    border-radius: calc(var(--icon-size) / 6);
    /* shadow imitates the appearance of iCloud link icons */
    box-shadow: 0 calc(var(--icon-size) / 64) calc(var(--icon-size) / 32) 0 rgba(0, 0, 0, .14);
    box-sizing: border-box;
    display: inline-block;
    height: var(--icon-size);
    /* padding equivalent to 38/256, leaving 180/256 for the content */
    padding: calc(var(--icon-size) / 6.7368421);
    width: var(--icon-size);
}

.shortcut-icon::after {
    /* iOS 16 glyphs used by default (no .ios16 class necessary) */
    background-image: url(ios16-glyphs.png);
    /* PNG partial icon grid is in the top left corner of the glyph, visible only if no glyph class is used */
    background-position: top left;
    /* glyphs are arranged in a 20x19 matrix */
    background-size: 2000% 1900%;
    content: '';
    /* height equivalent to 180/256 */
    height: calc(var(--icon-size) * 0.703125);
    position: absolute;
    /* width equivalent to 180/256 */
    width: calc(var(--icon-size) * 0.703125);
}

/* Alternate glyph sets */

.ios15.shortcut-icon::after {
    background-image: url(ios15-glyphs.png);
}

.ios14.shortcut-icon::after {
    background-image: url(ios14-glyphs.png);
}

.ios13.shortcut-icon::after {
    background-image: url(ios13-glyphs.png);
}

.ios12.shortcut-icon::after {
    background-image: url(ios12-glyphs.png);
}

/* Shortcut icon colors (both positive and negative values, iOS 14-16 palette used by default) */

.c4282601983, .c-12365313   { background: linear-gradient(#F36F74, #F2585E) }
.c4251333119, .c-43634177   { background: linear-gradient(#FF8E73, #FF7C5C) }
.c4271458815, .c-23508481   { background: linear-gradient(#F8AE5F, #F7A145) }
.c4274264319, .c-20702977   { background: linear-gradient(#E8CA45, #E5C238) }
.c4292093695, .c-2873601    { background: linear-gradient(#53CD6B, #37C553) }
.c431817727 , .c-3863149569 { background: linear-gradient(#57CFB4, #2AC7A8) }
.c1440408063, .c-2854559233 { background: linear-gradient(#5ACCDE, #3FC4D9) }
.c463140863 , .c-3831826433 { background: linear-gradient(#24BAF7, #00AFF6) }
.c946986751 , .c-3347980545 { background: linear-gradient(#5874CA, #3D5EC2) }
.c2071128575, .c-2223838721 { background: linear-gradient(#9164C7, #7F4BBE) }
.c3679049983, .c-615917313  { background: linear-gradient(#C085E6, #B671E2) }
.c3980825855, .c-314141441  { background: linear-gradient(#F694D8, #F583D2) }
.c255       , .c-4294967041 { background: linear-gradient(#9099A3, #7E8994) }
.c3031607807, .c-1263359489 { background: linear-gradient(#9DA79D, #8D998E) }
.c2846468607, .c-1448498689 { background: linear-gradient(#A49995, #968984) }

/* iOS 13 shortcut icon colors (both positive and negative values) */

.ios13.c4282601983, .ios13.c-12365313   { background: linear-gradient(#E6696D, #E15B5F) }
.ios13.c4251333119, .ios13.c-43634177   { background: linear-gradient(#E7755B, #E2664E) }
.ios13.c4271458815, .ios13.c-23508481   { background: linear-gradient(#DC8041, #D57136) }
.ios13.c4274264319, .ios13.c-20702977   { background: linear-gradient(#D69C2F, #CD8D26) }
.ios13.c4292093695, .ios13.c-2873601    { background: linear-gradient(#6DA74F, #5F9943) }
.ios13.c431817727 , .ios13.c-3863149569 { background: linear-gradient(#57A58D, #4A977E) }
.ios13.c1440408063, .ios13.c-2854559233 { background: linear-gradient(#609EB0, #538FA3) }
.ios13.c463140863 , .ios13.c-3831826433 { background: linear-gradient(#6D92C3, #5F83B8) }
.ios13.c946986751 , .ios13.c-3347980545 { background: linear-gradient(#737EC4, #646FB9) }
.ios13.c2071128575, .ios13.c-2223838721 { background: linear-gradient(#9076BF, #8167B4) }
.ios13.c3679049983, .ios13.c-615917313  { background: linear-gradient(#BE7AC1, #B36BB6) }
.ios13.c3980825855, .ios13.c-314141441  { background: linear-gradient(#DD7391, #D66482) }
.ios13.c255       , .ios13.c-4294967041 { background: linear-gradient(#86919C, #77828D) }
.ios13.c3031607807, .ios13.c-1263359489 { background: linear-gradient(#8D938E, #7E847F) }
.ios13.c2846468607, .ios13.c-1448498689 { background: linear-gradient(#9D908B, #8E817C) }

/* iOS 12 shortcut icon colors (both positive and negative values) */

.ios12.c4282601983, .ios12.c-12365313   { background: linear-gradient(153.35deg, #FF314C, #BE1922) }
.ios12.c4251333119, .ios12.c-43634177   { background: linear-gradient(153.35deg, #F57A53, #D82600) }
.ios12.c4271458815, .ios12.c-23508481   { background: linear-gradient(153.35deg, #FF9531, #DF5400) }
.ios12.c4274264319, .ios12.c-20702977   { background: linear-gradient(153.35deg, #F2C300, #E57F00) }
.ios12.c4292093695, .ios12.c-2873601    { background: linear-gradient(153.35deg, #6BD64D, #329609) }
.ios12.c431817727 , .ios12.c-3863149569 { background: linear-gradient(153.35deg, #60DBBA, #009F8C) }
.ios12.c1440408063, .ios12.c-2854559233 { background: linear-gradient(153.35deg, #54DBDA, #0094C1) }
.ios12.c463140863 , .ios12.c-3831826433 { background: linear-gradient(153.35deg, #66B7F5, #0073DE) }
.ios12.c946986751 , .ios12.c-3347980545 { background: linear-gradient(153.35deg, #4082E7, #0041B5) }
.ios12.c2071128575, .ios12.c-2223838721 { background: linear-gradient(153.35deg, #855FEF, #461EB3) }
.ios12.c3679049983, .ios12.c-615917313  { background: linear-gradient(153.35deg, #C05BE4, #7D20A8) }
.ios12.c3980825855, .ios12.c-314141441  { background: linear-gradient(153.35deg, #FC78B8, #CB2178) }
.ios12.c255       , .ios12.c-4294967041 { background: linear-gradient(153.35deg, #82858A, #4D5053) }
.ios12.c3031607807, .ios12.c-1263359489 { background: linear-gradient(153.35deg, #A6A49E, #7A7665) }
.ios12.c2846468607, .ios12.c-1448498689 { background: linear-gradient(153.35deg, #9AA4BA, #677188) }

/* Shortcut glyph positions in the sprites (non-existing glyphs show as empty) */

.g59392::after, .g59497::after, .g59660::after, .g59680::after,
.g59704::after, .g59725::after, .g59496::after, .g59745::after,
.g59460::after, .g59767::after, .g59788::after, .g59394::after,
.g59808::after, .g59828::after, .g59500::after, .g59849::after,
.g59870::after, .g61464::after, .g61486::after, .g61507::after,
.g61530::after, .g61550::after, .g61570::after                  { background-position-x:   5.2632% }
.g59395::after, .g59513::after, .g59691::after, .g59508::after,
.g59661::after, .g59681::after, .g59705::after, .g59504::after,
.g59726::after, .g59470::after, .g59531::after, .g59765::after,
.g59766::after, .g59746::after, .g59517::after, .g59768::after,
.g59416::after, .g59789::after, .g59476::after, .g59809::after,
.g59829::after, .g59850::after, .g59411::after, .g61440::after,
.g61465::after, .g61487::after, .g61508::after, .g61531::after,
.g61551::after, .g61571::after                                  { background-position-x:  10.5263% }
.g59402::after, .g59583::after, .g59511::after, .g59662::after,
.g59682::after, .g59401::after, .g59706::after, .g59727::after,
.g59487::after, .g59747::after, .g59769::after, .g59469::after,
.g59536::after, .g59790::after, .g59479::after, .g59559::after,
.g59560::after, .g59579::after, .g59810::after, .g59830::after,
.g59831::after, .g59851::after, .g61442::after, .g61466::after,
.g61488::after, .g61509::after, .g61532::after, .g61552::after,
.g61572::after                                                  { background-position-x:  15.7895% }
.g59403::after, .g59557::after, .g59558::after, .g59573::after,
.g59512::after, .g59694::after, .g59663::after, .g59683::after,
.g59707::after, .g59505::after, .g59520::after, .g59728::after,
.g59748::after, .g59473::after, .g59770::after, .g59492::after,
.g59791::after, .g59582::after, .g59811::after, .g59483::after,
.g59832::after, .g59507::after, .g59852::after, .g61444::after,
.g61467::after, .g61489::after, .g61510::after, .g61533::after,
.g61553::after, .g61573::after                                  { background-position-x:  21.0526% }
.g59405::after, .g59514::after, .g59710::after, .g59664::after,
.g59684::after, .g59708::after, .g59729::after, .g59439::after,
.g59749::after, .g59450::after, .g59771::after, .g59792::after,
.g59812::after, .g59833::after, .g59853::after, .g61446::after,
.g61468::after, .g61490::after, .g61511::after, .g61534::after,
.g61554::after, .g61574::after                                  { background-position-x:  26.3158% }
.g59412::after, .g59526::after, .g59547::after, .g59515::after,
.g59464::after, .g59689::after, .g59665::after, .g59685::after,
.g59529::after, .g59546::after, .g59555::after, .g59556::after,
.g59564::after, .g59565::after, .g59580::after, .g59709::after,
.g59422::after, .g59730::after, .g59750::after, .g59772::after,
.g59444::after, .g59543::after, .g59793::after, .g59521::after,
.g59522::after, .g59528::after, .g59530::after, .g59813::after,
.g59834::after, .g59854::after, .g61447::after, .g61470::after,
.g61491::after, .g61512::after, .g61535::after, .g61555::after,
.g61575::after                                                  { background-position-x:  31.5789% }
.g59414::after, .g59569::after, .g59570::after, .g59855::after,
.g59516::after, .g59666::after, .g59686::after, .g59711::after,
.g59731::after, .g59478::after, .g59751::after, .g59471::after,
.g59773::after, .g59409::after, .g59794::after, .g59814::after,
.g59498::after, .g59835::after, .g59491::after, .g59856::after,
.g59433::after, .g61448::after, .g61471::after, .g61493::after,
.g61513::after, .g61536::after, .g61556::after, .g61576::after  { background-position-x:  36.8421% }
.g59436::after, .g59523::after, .g59524::after, .g59537::after,
.g59538::after, .g59539::after, .g59540::after, .g59541::after,
.g59561::after, .g59519::after, .g59667::after, .g59426::after,
.g59687::after, .g59712::after, .g59415::after, .g59732::after,
.g59752::after, .g59420::after, .g59774::after, .g59795::after,
.g59815::after, .g59836::after, .g59857::after, .g59398::after,
.g61449::after, .g61472::after, .g61494::after, .g61514::after,
.g61537::after, .g61557::after, .g61577::after                  { background-position-x:  42.1053% }
.g59437::after, .g59648::after, .g59406::after, .g59668::after,
.g59688::after, .g59435::after, .g59713::after, .g59733::after,
.g59438::after, .g59753::after, .g59472::after, .g59775::after,
.g59796::after, .g59429::after, .g59816::after, .g59837::after,
.g59858::after, .g61450::after, .g61473::after, .g59502::after,
.g61495::after, .g61515::after, .g61538::after, .g61558::after,
.g61578::after                                                  { background-position-x:  47.3684% }
.g59445::after, .g59649::after, .g59669::after, .g59690::after,
.g59421::after, .g59566::after, .g59714::after, .g59734::after,
.g59443::after, .g59754::after, .g59481::after, .g59542::after,
.g59776::after, .g59400::after, .g59797::after, .g59817::after,
.g59838::after, .g59859::after, .g59442::after, .g61452::after,
.g61474::after, .g61496::after, .g61517::after, .g61539::after,
.g61559::after, .g61579::after                                  { background-position-x:  52.6316% }
.g59446::after, .g59494::after, .g59650::after, .g59440::after,
.g59670::after, .g59527::after, .g59692::after, .g59506::after,
.g59715::after, .g59735::after, .g59755::after, .g59399::after,
.g59777::after, .g59798::after, .g59475::after, .g59532::after,
.g59575::after, .g59818::after, .g59451::after, .g59839::after,
.g59860::after, .g59466::after, .g61453::after, .g61475::after,
.g61497::after, .g61518::after, .g61540::after, .g61560::after,
.g61581::after                                                  { background-position-x:  57.8947% }
.g59448::after, .g59701::after, .g59651::after, .g59671::after,
.g59419::after, .g59693::after, .g59716::after, .g59736::after,
.g59458::after, .g59756::after, .g59778::after, .g59799::after,
.g59413::after, .g59819::after, .g59840::after, .g59861::after,
.g59482::after, .g61454::after, .g61476::after, .g61498::after,
.g61519::after, .g61541::after, .g61561::after, .g61582::after  { background-position-x:  63.1579% }
.g59452::after, .g59652::after, .g59425::after, .g59672::after,
.g59695::after, .g59717::after, .g59453::after, .g59737::after,
.g59474::after, .g59757::after, .g59457::after, .g59779::after,
.g59800::after, .g59533::after, .g59534::after, .g59544::after,
.g59545::after, .g59567::after, .g59568::after, .g59574::after,
.g59820::after, .g59518::after, .g59841::after, .g59417::after,
.g59862::after, .g59493::after, .g61455::after, .g61477::after,
.g61499::after, .g61520::after, .g61542::after, .g61562::after,
.g61583::after                                                  { background-position-x:  68.4211% }
.g59454::after, .g59653::after, .g59673::after, .g59509::after,
.g59455::after, .g59696::after, .g59503::after, .g59718::after,
.g59404::after, .g59738::after, .g59428::after, .g59758::after,
.g59463::after, .g59780::after, .g59501::after, .g59801::after,
.g59821::after, .g59430::after, .g59842::after, .g59863::after,
.g59477::after, .g61456::after, .g61478::after, .g61500::after,
.g61521::after, .g61543::after, .g61563::after, .g61584::after  { background-position-x:  73.6842% }
.g59456::after, .g59654::after, .g59393::after, .g59674::after,
.g59510::after, .g59697::after, .g59480::after, .g59719::after,
.g59462::after, .g59581::after, .g59739::after, .g59759::after,
.g59781::after, .g59486::after, .g59802::after, .g59431::after,
.g59822::after, .g59843::after, .g59864::after, .g59571::after,
.g59572::after, .g59576::after, .g59577::after, .g59578::after,
.g59787::after, .g61457::after, .g61479::after, .g61501::after,
.g61522::after, .g61544::after, .g61564::after, .g61585::after  { background-position-x:  78.9474% }
.g59459::after, .g59551::after, .g59552::after, .g59655::after,
.g59427::after, .g59675::after, .g59698::after, .g59720::after,
.g59740::after, .g59760::after, .g59485::after, .g59782::after,
.g59418::after, .g59803::after, .g59823::after, .g59844::after,
.g59865::after, .g61458::after, .g61480::after, .g61502::after,
.g61523::after, .g61545::after, .g61565::after, .g61586::after  { background-position-x:  84.2105% }
.g59461::after, .g59656::after, .g59676::after, .g59434::after,
.g59549::after, .g59550::after, .g59699::after, .g59721::after,
.g59525::after, .g59741::after, .g59761::after, .g59783::after,
.g59804::after, .g59824::after, .g59424::after, .g59845::after,
.g59467::after, .g59866::after, .g59488::after, .g61459::after,
.g61481::after, .g61503::after, .g61524::after, .g61546::after,
.g61566::after, .g61587::after                                  { background-position-x:  89.4737% }
.g59465::after, .g59657::after, .g59677::after, .g59432::after,
.g59700::after, .g59408::after, .g59722::after, .g59742::after,
.g59495::after, .g59562::after, .g59563::after, .g59762::after,
.g59784::after, .g59535::after, .g59548::after, .g59553::after,
.g59554::after, .g59805::after, .g59825::after, .g59846::after,
.g59397::after, .g59867::after, .g61460::after, .g61482::after,
.g61504::after, .g61525::after, .g61547::after, .g61567::after,
.g61588::after                                                  { background-position-x:  94.7368% }
.g59468::after, .g59658::after, .g59678::after, .g59702::after,
.g59723::after, .g59743::after, .g59499::after, .g59763::after,
.g59490::after, .g59785::after, .g59806::after, .g59826::after,
.g59847::after, .g59868::after, .g61461::after, .g61483::after,
.g61505::after, .g61528::after, .g61548::after, .g61568::after,
.g61589::after                                                  { background-position-x: 100.0000% }
.g59489::after, .g59659::after, .g59679::after, .g59703::after,
.g59724::after, .g59744::after, .g59407::after, .g59764::after,
.g59410::after, .g59786::after, .g59807::after, .g59827::after,
.g59848::after, .g59423::after, .g59869::after, .g59484::after,
.g61462::after, .g61484::after, .g61506::after, .g61529::after,
.g61549::after, .g61569::after                                  { background-position-x:   0.0000% }

.g59392::after, .g59395::after, .g59513::after, .g59691::after,
.g59402::after, .g59583::after, .g59403::after, .g59557::after,
.g59558::after, .g59573::after, .g59405::after, .g59412::after,
.g59526::after, .g59547::after, .g59414::after, .g59569::after,
.g59570::after, .g59855::after, .g59436::after, .g59523::after,
.g59524::after, .g59537::after, .g59538::after, .g59539::after,
.g59540::after, .g59541::after, .g59561::after, .g59437::after,
.g59445::after, .g59446::after, .g59494::after, .g59448::after,
.g59701::after, .g59452::after, .g59454::after, .g59456::after,
.g59459::after, .g59551::after, .g59552::after, .g59461::after,
.g59465::after, .g59468::after                                  { background-position-y:   0.0000% }
.g59489::after, .g59497::after, .g59508::after, .g59511::after,
.g59512::after, .g59694::after, .g59514::after, .g59710::after,
.g59515::after, .g59464::after, .g59689::after, .g59516::after,
.g59519::after, .g59648::after, .g59406::after, .g59649::after,
.g59650::after, .g59440::after, .g59651::after, .g59652::after,
.g59425::after, .g59653::after, .g59654::after, .g59393::after,
.g59655::after, .g59427::after, .g59656::after, .g59657::after,
.g59658::after                                                  { background-position-y:   5.5556% }
.g59659::after, .g59660::after, .g59661::after, .g59662::after,
.g59663::after, .g59664::after, .g59665::after, .g59666::after,
.g59667::after, .g59426::after, .g59668::after, .g59669::after,
.g59670::after, .g59527::after, .g59671::after, .g59419::after,
.g59672::after, .g59673::after, .g59509::after, .g59455::after,
.g59674::after, .g59510::after, .g59675::after, .g59676::after,
.g59434::after, .g59549::after, .g59550::after, .g59677::after,
.g59432::after, .g59678::after                                  { background-position-y:  11.1111% }
.g59679::after, .g59680::after, .g59681::after, .g59682::after,
.g59401::after, .g59683::after, .g59684::after, .g59685::after,
.g59529::after, .g59546::after, .g59555::after, .g59556::after,
.g59564::after, .g59565::after, .g59580::after, .g59686::after,
.g59687::after, .g59688::after, .g59435::after, .g59690::after,
.g59421::after, .g59566::after, .g59692::after, .g59506::after,
.g59693::after, .g59695::after, .g59696::after, .g59503::after,
.g59697::after, .g59480::after, .g59698::after, .g59699::after,
.g59700::after, .g59408::after, .g59702::after                  { background-position-y:  16.6667% }
.g59703::after, .g59704::after, .g59705::after, .g59504::after,
.g59706::after, .g59707::after, .g59505::after, .g59520::after,
.g59708::after, .g59709::after, .g59422::after, .g59711::after,
.g59712::after, .g59415::after, .g59713::after, .g59714::after,
.g59715::after, .g59716::after, .g59717::after, .g59453::after,
.g59718::after, .g59404::after, .g59719::after, .g59462::after,
.g59581::after, .g59720::after, .g59721::after, .g59525::after,
.g59722::after, .g59723::after                                  { background-position-y:  22.2222% }
.g59724::after, .g59725::after, .g59496::after, .g59726::after,
.g59470::after, .g59531::after, .g59765::after, .g59766::after,
.g59727::after, .g59487::after, .g59728::after, .g59729::after,
.g59439::after, .g59730::after, .g59731::after, .g59478::after,
.g59732::after, .g59733::after, .g59438::after, .g59734::after,
.g59443::after, .g59735::after, .g59736::after, .g59458::after,
.g59737::after, .g59474::after, .g59738::after, .g59428::after,
.g59739::after, .g59740::after, .g59741::after, .g59742::after,
.g59495::after, .g59562::after, .g59563::after, .g59743::after,
.g59499::after                                                  { background-position-y:  27.7778% }
.g59744::after, .g59407::after, .g59745::after, .g59460::after,
.g59746::after, .g59517::after, .g59747::after, .g59748::after,
.g59473::after, .g59749::after, .g59450::after, .g59750::after,
.g59751::after, .g59471::after, .g59752::after, .g59420::after,
.g59753::after, .g59472::after, .g59754::after, .g59481::after,
.g59542::after, .g59755::after, .g59399::after, .g59756::after,
.g59757::after, .g59457::after, .g59758::after, .g59463::after,
.g59759::after, .g59760::after, .g59485::after, .g59761::after,
.g59762::after, .g59763::after, .g59490::after                  { background-position-y:  33.3333% }
.g59764::after, .g59410::after, .g59767::after, .g59768::after,
.g59416::after, .g59769::after, .g59469::after, .g59536::after,
.g59770::after, .g59492::after, .g59771::after, .g59772::after,
.g59444::after, .g59543::after, .g59773::after, .g59409::after,
.g59774::after, .g59775::after, .g59776::after, .g59400::after,
.g59777::after, .g59778::after, .g59779::after, .g59780::after,
.g59501::after, .g59781::after, .g59486::after, .g59782::after,
.g59418::after, .g59783::after, .g59784::after, .g59535::after,
.g59548::after, .g59553::after, .g59554::after, .g59785::after  { background-position-y:  38.8889% }
.g59786::after, .g59788::after, .g59394::after, .g59789::after,
.g59476::after, .g59790::after, .g59479::after, .g59559::after,
.g59560::after, .g59579::after, .g59791::after, .g59582::after,
.g59792::after, .g59793::after, .g59521::after, .g59522::after,
.g59528::after, .g59530::after, .g59794::after, .g59795::after,
.g59796::after, .g59429::after, .g59797::after, .g59798::after,
.g59475::after, .g59532::after, .g59575::after, .g59799::after,
.g59413::after, .g59800::after, .g59533::after, .g59534::after,
.g59544::after, .g59545::after, .g59567::after, .g59568::after,
.g59574::after, .g59801::after, .g59802::after, .g59431::after,
.g59803::after, .g59804::after, .g59805::after, .g59806::after  { background-position-y:  44.4444% }
.g59807::after, .g59808::after, .g59809::after, .g59810::after,
.g59811::after, .g59483::after, .g59812::after, .g59813::after,
.g59814::after, .g59498::after, .g59815::after, .g59816::after,
.g59817::after, .g59818::after, .g59451::after, .g59819::after,
.g59820::after, .g59518::after, .g59821::after, .g59430::after,
.g59822::after, .g59823::after, .g59824::after, .g59424::after,
.g59825::after, .g59826::after                                  { background-position-y:  50.0000% }
.g59827::after, .g59828::after, .g59500::after, .g59829::after,
.g59830::after, .g59831::after, .g59832::after, .g59507::after,
.g59833::after, .g59834::after, .g59835::after, .g59491::after,
.g59836::after, .g59837::after, .g59838::after, .g59839::after,
.g59840::after, .g59841::after, .g59417::after, .g59842::after,
.g59843::after, .g59844::after, .g59845::after, .g59467::after,
.g59846::after, .g59397::after, .g59847::after                  { background-position-y:  55.5556% }
.g59848::after, .g59423::after, .g59849::after, .g59850::after,
.g59411::after, .g59851::after, .g59852::after, .g59853::after,
.g59854::after, .g59856::after, .g59433::after, .g59857::after,
.g59398::after, .g59858::after, .g59859::after, .g59442::after,
.g59860::after, .g59466::after, .g59861::after, .g59482::after,
.g59862::after, .g59493::after, .g59863::after, .g59477::after,
.g59864::after, .g59571::after, .g59572::after, .g59576::after,
.g59577::after, .g59578::after, .g59787::after, .g59865::after,
.g59866::after, .g59488::after, .g59867::after, .g59868::after  { background-position-y:  61.1111% }
.g59869::after, .g59484::after, .g59870::after, .g61440::after,
.g61442::after, .g61444::after, .g61446::after, .g61447::after,
.g61448::after, .g61449::after, .g61450::after, .g61452::after,
.g61453::after, .g61454::after, .g61455::after, .g61456::after,
.g61457::after, .g61458::after, .g61459::after, .g61460::after,
.g61461::after                                                  { background-position-y:  66.6667% }
.g61462::after, .g61464::after, .g61465::after, .g61466::after,
.g61467::after, .g61468::after, .g61470::after, .g61471::after,
.g61472::after, .g61473::after, .g59502::after, .g61474::after,
.g61475::after, .g61476::after, .g61477::after, .g61478::after,
.g61479::after, .g61480::after, .g61481::after, .g61482::after,
.g61483::after                                                  { background-position-y:  72.2222% }
.g61484::after, .g61486::after, .g61487::after, .g61488::after,
.g61489::after, .g61490::after, .g61491::after, .g61493::after,
.g61494::after, .g61495::after, .g61496::after, .g61497::after,
.g61498::after, .g61499::after, .g61500::after, .g61501::after,
.g61502::after, .g61503::after, .g61504::after, .g61505::after  { background-position-y:  77.7778% }
.g61506::after, .g61507::after, .g61508::after, .g61509::after,
.g61510::after, .g61511::after, .g61512::after, .g61513::after,
.g61514::after, .g61515::after, .g61517::after, .g61518::after,
.g61519::after, .g61520::after, .g61521::after, .g61522::after,
.g61523::after, .g61524::after, .g61525::after, .g61528::after  { background-position-y:  83.3333% }
.g61529::after, .g61530::after, .g61531::after, .g61532::after,
.g61533::after, .g61534::after, .g61535::after, .g61536::after,
.g61537::after, .g61538::after, .g61539::after, .g61540::after,
.g61541::after, .g61542::after, .g61543::after, .g61544::after,
.g61545::after, .g61546::after, .g61547::after, .g61548::after  { background-position-y:  88.8889% }
.g61549::after, .g61550::after, .g61551::after, .g61552::after,
.g61553::after, .g61554::after, .g61555::after, .g61556::after,
.g61557::after, .g61558::after, .g61559::after, .g61560::after,
.g61561::after, .g61562::after, .g61563::after, .g61564::after,
.g61565::after, .g61566::after, .g61567::after, .g61568::after  { background-position-y:  94.4444% }
.g61569::after, .g61570::after, .g61571::after, .g61572::after,
.g61573::after, .g61574::after, .g61575::after, .g61576::after,
.g61577::after, .g61578::after, .g61579::after, .g61581::after,
.g61582::after, .g61583::after, .g61584::after, .g61585::after,
.g61586::after, .g61587::after, .g61588::after, .g61589::after  { background-position-y: 100.0000% }
