/* Suggested sizes (256x256 by default) */

.s43  { --icon-size:  43px }
.s64  { --icon-size:  64px }
.s86  { --icon-size:  86px }
.s128 { --icon-size: 128px }
:root { --icon-size: 256px }

/* Common CSS for all icons */

.shortcut-icon {
    /* SVG partial icon grid and gray background color, visible only if no color class is used */
    background-color: #7F7F7F7F;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" stroke="white" fill="none" stroke-width="0.5"><line x1="0%" y1="0%" x2="19.2%" y2="19.2%"/><line x1="80.8%" y1="80.8%" x2="100%" y2="100%"/><line x1="0%" y1="100%" x2="19.2%" y2="80.8%"/><line x1="80.8%" y1="19.2%" x2="100%" y2="0%"/><line x1="0%" y1="6%" x2="100%" y2="6%"/><line x1="0%" y1="31.5%" x2="15%" y2="31.5%"/><line x1="85%" y1="31.5%" x2="100%" y2="31.5%"/><line x1="0%" y1="50%" x2="15%" y2="50%"/><line x1="85%" y1="50%" x2="100%" y2="50%"/><line x1="0%" y1="68.5%" x2="15%" y2="68.5%"/><line x1="85%" y1="68.5%" x2="100%" y2="68.5%"/><line x1="0%" y1="94%" x2="100%" y2="94%"/><line x1="6%" y1="0%" x2="6%" y2="100%"/><line x1="31.5%" y1="0%" x2="31.5%" y2="15%"/><line x1="31.5%" y1="85%" x2="31.5%" y2="100%"/><line x1="50%" y1="0%" x2="50%" y2="15%"/><line x1="50%" y1="85%" x2="50%" y2="100%"/><line x1="68.5%" y1="0%" x2="68.5%" y2="15%"/><line x1="68.5%" y1="85%" x2="68.5%" y2="100%"/><line x1="94%" y1="0%" x2="94%" y2="100%"/><circle cx="50%" cy="50%" r="44%"/></svg>');
    /* iCloud link icons show a radius/size ratio of 1/6, although the closest ratio of iOS app icons is 2/9 */
    border-radius: calc(var(--icon-size) / 6);
    /* shadow imitates the appearance of iCloud link icons */
    box-shadow: 0 calc(var(--icon-size) / 64) calc(var(--icon-size) / 32) 0 rgba(0, 0, 0, .14);
    box-sizing: border-box;
    display: inline-block;
    height: var(--icon-size);
    /* padding equivalent to 38/256, leaving 180/256 for the content */
    padding: calc(var(--icon-size) / 6.7368421);
    width: var(--icon-size);
}

.shortcut-icon::after {
    /* iOS 15 glyphs used by default (no .ios15 class necessary) */
    background-image: url(ios15-glyphs.png);
    /* PNG partial icon grid is in the top left corner of the glyph, visible only if no glyph class is used */
    background-position: top left;
    /* glyphs are arranged in a 20x20 matrix */
    background-size: 2000% 2000%;
    content: '';
    /* height equivalent to 180/256 */
    height: calc(var(--icon-size) * 0.703125);
    position: absolute;
    /* width equivalent to 180/256 */
    width: calc(var(--icon-size) * 0.703125);
}

/* Alternate glyph sets */

.ios14.shortcut-icon::after {
    background-image: url(ios14-glyphs.png);
}

.ios13.shortcut-icon::after {
    background-image: url(ios13-glyphs.png);
}

.ios12.shortcut-icon::after {
    background-image: url(ios12-glyphs.png);
}

/* Shortcut icon colors (both positive and negative values, iOS 14/15 palette used by default) */

.c4282601983, .c-12365313   { background: linear-gradient(#F36F74, #F2585E) }
.c4251333119, .c-43634177   { background: linear-gradient(#FF8E73, #FF7C5C) }
.c4271458815, .c-23508481   { background: linear-gradient(#F8AE5F, #F7A145) }
.c4274264319, .c-20702977   { background: linear-gradient(#E8CA45, #E5C238) }
.c4292093695, .c-2873601    { background: linear-gradient(#53CD6B, #37C553) }
.c431817727 , .c-3863149569 { background: linear-gradient(#57CFB4, #2AC7A8) }
.c1440408063, .c-2854559233 { background: linear-gradient(#5ACCDE, #3FC4D9) }
.c463140863 , .c-3831826433 { background: linear-gradient(#24BAF7, #00AFF6) }
.c946986751 , .c-3347980545 { background: linear-gradient(#5874CA, #3D5EC2) }
.c2071128575, .c-2223838721 { background: linear-gradient(#9164C7, #7F4BBE) }
.c3679049983, .c-615917313  { background: linear-gradient(#C085E6, #B671E2) }
.c3980825855, .c-314141441  { background: linear-gradient(#F694D8, #F583D2) }
.c255       , .c-4294967041 { background: linear-gradient(#9099A3, #7E8994) }
.c3031607807, .c-1263359489 { background: linear-gradient(#9DA79D, #8D998E) }
.c2846468607, .c-1448498689 { background: linear-gradient(#A49995, #968984) }

/* iOS 13 shortcut icon colors (both positive and negative values) */

.ios13.c4282601983, .ios13.c-12365313   { background: linear-gradient(#E6696D, #E15B5F) }
.ios13.c4251333119, .ios13.c-43634177   { background: linear-gradient(#E7755B, #E2664E) }
.ios13.c4271458815, .ios13.c-23508481   { background: linear-gradient(#DC8041, #D57136) }
.ios13.c4274264319, .ios13.c-20702977   { background: linear-gradient(#D69C2F, #CD8D26) }
.ios13.c4292093695, .ios13.c-2873601    { background: linear-gradient(#6DA74F, #5F9943) }
.ios13.c431817727 , .ios13.c-3863149569 { background: linear-gradient(#57A58D, #4A977E) }
.ios13.c1440408063, .ios13.c-2854559233 { background: linear-gradient(#609EB0, #538FA3) }
.ios13.c463140863 , .ios13.c-3831826433 { background: linear-gradient(#6D92C3, #5F83B8) }
.ios13.c946986751 , .ios13.c-3347980545 { background: linear-gradient(#737EC4, #646FB9) }
.ios13.c2071128575, .ios13.c-2223838721 { background: linear-gradient(#9076BF, #8167B4) }
.ios13.c3679049983, .ios13.c-615917313  { background: linear-gradient(#BE7AC1, #B36BB6) }
.ios13.c3980825855, .ios13.c-314141441  { background: linear-gradient(#DD7391, #D66482) }
.ios13.c255       , .ios13.c-4294967041 { background: linear-gradient(#86919C, #77828D) }
.ios13.c3031607807, .ios13.c-1263359489 { background: linear-gradient(#8D938E, #7E847F) }
.ios13.c2846468607, .ios13.c-1448498689 { background: linear-gradient(#9D908B, #8E817C) }

/* iOS 12 shortcut icon colors (both positive and negative values) */

.ios12.c4282601983, .ios12.c-12365313   { background: linear-gradient(153.35deg, #FF314C, #BE1922) }
.ios12.c4251333119, .ios12.c-43634177   { background: linear-gradient(153.35deg, #F57A53, #D82600) }
.ios12.c4271458815, .ios12.c-23508481   { background: linear-gradient(153.35deg, #FF9531, #DF5400) }
.ios12.c4274264319, .ios12.c-20702977   { background: linear-gradient(153.35deg, #F2C300, #E57F00) }
.ios12.c4292093695, .ios12.c-2873601    { background: linear-gradient(153.35deg, #6BD64D, #329609) }
.ios12.c431817727 , .ios12.c-3863149569 { background: linear-gradient(153.35deg, #60DBBA, #009F8C) }
.ios12.c1440408063, .ios12.c-2854559233 { background: linear-gradient(153.35deg, #54DBDA, #0094C1) }
.ios12.c463140863 , .ios12.c-3831826433 { background: linear-gradient(153.35deg, #66B7F5, #0073DE) }
.ios12.c946986751 , .ios12.c-3347980545 { background: linear-gradient(153.35deg, #4082E7, #0041B5) }
.ios12.c2071128575, .ios12.c-2223838721 { background: linear-gradient(153.35deg, #855FEF, #461EB3) }
.ios12.c3679049983, .ios12.c-615917313  { background: linear-gradient(153.35deg, #C05BE4, #7D20A8) }
.ios12.c3980825855, .ios12.c-314141441  { background: linear-gradient(153.35deg, #FC78B8, #CB2178) }
.ios12.c255       , .ios12.c-4294967041 { background: linear-gradient(153.35deg, #82858A, #4D5053) }
.ios12.c3031607807, .ios12.c-1263359489 { background: linear-gradient(153.35deg, #A6A49E, #7A7665) }
.ios12.c2846468607, .ios12.c-1448498689 { background: linear-gradient(153.35deg, #9AA4BA, #677188) }

/* Shortcut glyph positions in the sprites (non-existing glyphs show as empty) */

.g59392::after { background-position:   5.2632%   0.0000% }
.g59395::after { background-position:  10.5263%   0.0000% }
.g59402::after { background-position:  15.7895%   0.0000% }
.g59403::after { background-position:  21.0526%   0.0000% }
.g59405::after { background-position:  26.3158%   0.0000% }
.g59412::after { background-position:  31.5789%   0.0000% }
.g59414::after { background-position:  36.8421%   0.0000% }
.g59436::after { background-position:  42.1053%   0.0000% }
.g59437::after { background-position:  47.3684%   0.0000% }
.g59438::after { background-position:  52.6316%   0.0000% }
.g59445::after { background-position:  57.8947%   0.0000% }
.g59446::after { background-position:  63.1579%   0.0000% }
.g59448::after { background-position:  68.4211%   0.0000% }
.g59452::after { background-position:  73.6842%   0.0000% }
.g59454::after { background-position:  78.9474%   0.0000% }
.g59456::after { background-position:  84.2105%   0.0000% }
.g59459::after { background-position:  89.4737%   0.0000% }
.g59460::after { background-position:  94.7368%   0.0000% }
.g59461::after { background-position: 100.0000%   0.0000% }
.g59465::after { background-position:   0.0000%   5.2632% }
.g59468::after { background-position:   5.2632%   5.2632% }
.g59471::after { background-position:  10.5263%   5.2632% }
.g59473::after { background-position:  15.7895%   5.2632% }
.g59489::after { background-position:  21.0526%   5.2632% }
.g59494::after { background-position:  26.3158%   5.2632% }
.g59497::after { background-position:  31.5789%   5.2632% }
.g59498::after { background-position:  36.8421%   5.2632% }
.g59502::after { background-position:  42.1053%   5.2632% }
.g59508::after { background-position:  47.3684%   5.2632% }
.g59511::after { background-position:  52.6316%   5.2632% }
.g59512::after { background-position:  57.8947%   5.2632% }
.g59514::after { background-position:  63.1579%   5.2632% }
.g59515::after { background-position:  68.4211%   5.2632% }
.g59516::after { background-position:  73.6842%   5.2632% }
.g59519::after { background-position:  78.9474%   5.2632% }
.g59578::after { background-position:  84.2105%   5.2632% }
.g59648::after { background-position:  89.4737%   5.2632% }
.g59649::after { background-position:  94.7368%   5.2632% }
.g59650::after { background-position: 100.0000%   5.2632% }
.g59651::after { background-position:   0.0000%  10.5263% }
.g59652::after { background-position:   5.2632%  10.5263% }
.g59653::after { background-position:  10.5263%  10.5263% }
.g59654::after { background-position:  15.7895%  10.5263% }
.g59655::after { background-position:  21.0526%  10.5263% }
.g59656::after { background-position:  26.3158%  10.5263% }
.g59657::after { background-position:  31.5789%  10.5263% }
.g59658::after { background-position:  36.8421%  10.5263% }
.g59659::after { background-position:  42.1053%  10.5263% }
.g59660::after { background-position:  47.3684%  10.5263% }
.g59661::after { background-position:  52.6316%  10.5263% }
.g59662::after { background-position:  57.8947%  10.5263% }
.g59663::after { background-position:  63.1579%  10.5263% }
.g59664::after { background-position:  68.4211%  10.5263% }
.g59665::after { background-position:  73.6842%  10.5263% }
.g59666::after { background-position:  78.9474%  10.5263% }
.g59667::after { background-position:  84.2105%  10.5263% }
.g59668::after { background-position:  89.4737%  10.5263% }
.g59669::after { background-position:  94.7368%  10.5263% }
.g59670::after { background-position: 100.0000%  10.5263% }
.g59671::after { background-position:   0.0000%  15.7895% }
.g59672::after { background-position:   5.2632%  15.7895% }
.g59673::after { background-position:  10.5263%  15.7895% }
.g59674::after { background-position:  15.7895%  15.7895% }
.g59675::after { background-position:  21.0526%  15.7895% }
.g59676::after { background-position:  26.3158%  15.7895% }
.g59677::after { background-position:  31.5789%  15.7895% }
.g59678::after { background-position:  36.8421%  15.7895% }
.g59679::after { background-position:  42.1053%  15.7895% }
.g59680::after { background-position:  47.3684%  15.7895% }
.g59681::after { background-position:  52.6316%  15.7895% }
.g59682::after { background-position:  57.8947%  15.7895% }
.g59683::after { background-position:  63.1579%  15.7895% }
.g59684::after { background-position:  68.4211%  15.7895% }
.g59685::after { background-position:  73.6842%  15.7895% }
.g59686::after { background-position:  78.9474%  15.7895% }
.g59687::after { background-position:  84.2105%  15.7895% }
.g59688::after { background-position:  89.4737%  15.7895% }
.g59689::after { background-position:  94.7368%  15.7895% }
.g59690::after { background-position: 100.0000%  15.7895% }
.g59691::after { background-position:   0.0000%  21.0526% }
.g59692::after { background-position:   5.2632%  21.0526% }
.g59693::after { background-position:  10.5263%  21.0526% }
.g59694::after { background-position:  15.7895%  21.0526% }
.g59695::after { background-position:  21.0526%  21.0526% }
.g59696::after { background-position:  26.3158%  21.0526% }
.g59697::after { background-position:  31.5789%  21.0526% }
.g59698::after { background-position:  36.8421%  21.0526% }
.g59699::after { background-position:  42.1053%  21.0526% }
.g59700::after { background-position:  47.3684%  21.0526% }
.g59701::after { background-position:  52.6316%  21.0526% }
.g59702::after { background-position:  57.8947%  21.0526% }
.g59703::after { background-position:  63.1579%  21.0526% }
.g59704::after { background-position:  68.4211%  21.0526% }
.g59705::after { background-position:  73.6842%  21.0526% }
.g59706::after { background-position:  78.9474%  21.0526% }
.g59707::after { background-position:  84.2105%  21.0526% }
.g59708::after { background-position:  89.4737%  21.0526% }
.g59709::after { background-position:  94.7368%  21.0526% }
.g59710::after { background-position: 100.0000%  21.0526% }
.g59711::after { background-position:   0.0000%  26.3158% }
.g59712::after { background-position:   5.2632%  26.3158% }
.g59713::after { background-position:  10.5263%  26.3158% }
.g59714::after { background-position:  15.7895%  26.3158% }
.g59715::after { background-position:  21.0526%  26.3158% }
.g59716::after { background-position:  26.3158%  26.3158% }
.g59717::after { background-position:  31.5789%  26.3158% }
.g59718::after { background-position:  36.8421%  26.3158% }
.g59719::after { background-position:  42.1053%  26.3158% }
.g59720::after { background-position:  47.3684%  26.3158% }
.g59721::after { background-position:  52.6316%  26.3158% }
.g59722::after { background-position:  57.8947%  26.3158% }
.g59723::after { background-position:  63.1579%  26.3158% }
.g59724::after { background-position:  68.4211%  26.3158% }
.g59725::after { background-position:  73.6842%  26.3158% }
.g59726::after { background-position:  78.9474%  26.3158% }
.g59727::after { background-position:  84.2105%  26.3158% }
.g59728::after { background-position:  89.4737%  26.3158% }
.g59729::after { background-position:  94.7368%  26.3158% }
.g59730::after { background-position: 100.0000%  26.3158% }
.g59731::after { background-position:   0.0000%  31.5789% }
.g59732::after { background-position:   5.2632%  31.5789% }
.g59733::after { background-position:  10.5263%  31.5789% }
.g59734::after { background-position:  15.7895%  31.5789% }
.g59735::after { background-position:  21.0526%  31.5789% }
.g59736::after { background-position:  26.3158%  31.5789% }
.g59737::after { background-position:  31.5789%  31.5789% }
.g59738::after { background-position:  36.8421%  31.5789% }
.g59739::after { background-position:  42.1053%  31.5789% }
.g59740::after { background-position:  47.3684%  31.5789% }
.g59741::after { background-position:  52.6316%  31.5789% }
.g59742::after { background-position:  57.8947%  31.5789% }
.g59743::after { background-position:  63.1579%  31.5789% }
.g59744::after { background-position:  68.4211%  31.5789% }
.g59745::after { background-position:  73.6842%  31.5789% }
.g59746::after { background-position:  78.9474%  31.5789% }
.g59747::after { background-position:  84.2105%  31.5789% }
.g59748::after { background-position:  89.4737%  31.5789% }
.g59749::after { background-position:  94.7368%  31.5789% }
.g59750::after { background-position: 100.0000%  31.5789% }
.g59751::after { background-position:   0.0000%  36.8421% }
.g59752::after { background-position:   5.2632%  36.8421% }
.g59753::after { background-position:  10.5263%  36.8421% }
.g59754::after { background-position:  15.7895%  36.8421% }
.g59755::after { background-position:  21.0526%  36.8421% }
.g59756::after { background-position:  26.3158%  36.8421% }
.g59757::after { background-position:  31.5789%  36.8421% }
.g59758::after { background-position:  36.8421%  36.8421% }
.g59759::after { background-position:  42.1053%  36.8421% }
.g59760::after { background-position:  47.3684%  36.8421% }
.g59761::after { background-position:  52.6316%  36.8421% }
.g59762::after { background-position:  57.8947%  36.8421% }
.g59763::after { background-position:  63.1579%  36.8421% }
.g59764::after { background-position:  68.4211%  36.8421% }
.g59765::after { background-position:  73.6842%  36.8421% }
.g59766::after { background-position:  78.9474%  36.8421% }
.g59767::after { background-position:  84.2105%  36.8421% }
.g59768::after { background-position:  89.4737%  36.8421% }
.g59769::after { background-position:  94.7368%  36.8421% }
.g59770::after { background-position: 100.0000%  36.8421% }
.g59771::after { background-position:   0.0000%  42.1053% }
.g59772::after { background-position:   5.2632%  42.1053% }
.g59773::after { background-position:  10.5263%  42.1053% }
.g59774::after { background-position:  15.7895%  42.1053% }
.g59775::after { background-position:  21.0526%  42.1053% }
.g59776::after { background-position:  26.3158%  42.1053% }
.g59777::after { background-position:  31.5789%  42.1053% }
.g59778::after { background-position:  36.8421%  42.1053% }
.g59779::after { background-position:  42.1053%  42.1053% }
.g59780::after { background-position:  47.3684%  42.1053% }
.g59781::after { background-position:  52.6316%  42.1053% }
.g59782::after { background-position:  57.8947%  42.1053% }
.g59783::after { background-position:  63.1579%  42.1053% }
.g59784::after { background-position:  68.4211%  42.1053% }
.g59785::after { background-position:  73.6842%  42.1053% }
.g59786::after { background-position:  78.9474%  42.1053% }
.g59787::after { background-position:  84.2105%  42.1053% }
.g59788::after { background-position:  89.4737%  42.1053% }
.g59789::after { background-position:  94.7368%  42.1053% }
.g59790::after { background-position: 100.0000%  42.1053% }
.g59791::after { background-position:   0.0000%  47.3684% }
.g59792::after { background-position:   5.2632%  47.3684% }
.g59793::after { background-position:  10.5263%  47.3684% }
.g59794::after { background-position:  15.7895%  47.3684% }
.g59795::after { background-position:  21.0526%  47.3684% }
.g59796::after { background-position:  26.3158%  47.3684% }
.g59797::after { background-position:  31.5789%  47.3684% }
.g59798::after { background-position:  36.8421%  47.3684% }
.g59799::after { background-position:  42.1053%  47.3684% }
.g59800::after { background-position:  47.3684%  47.3684% }
.g59801::after { background-position:  52.6316%  47.3684% }
.g59802::after { background-position:  57.8947%  47.3684% }
.g59803::after { background-position:  63.1579%  47.3684% }
.g59804::after { background-position:  68.4211%  47.3684% }
.g59805::after { background-position:  73.6842%  47.3684% }
.g59806::after { background-position:  78.9474%  47.3684% }
.g59807::after { background-position:  84.2105%  47.3684% }
.g59808::after { background-position:  89.4737%  47.3684% }
.g59809::after { background-position:  94.7368%  47.3684% }
.g59810::after { background-position: 100.0000%  47.3684% }
.g59811::after { background-position:   0.0000%  52.6316% }
.g59812::after { background-position:   5.2632%  52.6316% }
.g59813::after { background-position:  10.5263%  52.6316% }
.g59814::after { background-position:  15.7895%  52.6316% }
.g59815::after { background-position:  21.0526%  52.6316% }
.g59816::after { background-position:  26.3158%  52.6316% }
.g59817::after { background-position:  31.5789%  52.6316% }
.g59818::after { background-position:  36.8421%  52.6316% }
.g59819::after { background-position:  42.1053%  52.6316% }
.g59820::after { background-position:  47.3684%  52.6316% }
.g59821::after { background-position:  52.6316%  52.6316% }
.g59822::after { background-position:  57.8947%  52.6316% }
.g59823::after { background-position:  63.1579%  52.6316% }
.g59824::after { background-position:  68.4211%  52.6316% }
.g59825::after { background-position:  73.6842%  52.6316% }
.g59826::after { background-position:  78.9474%  52.6316% }
.g59827::after { background-position:  84.2105%  52.6316% }
.g59828::after { background-position:  89.4737%  52.6316% }
.g59829::after { background-position:  94.7368%  52.6316% }
.g59830::after { background-position: 100.0000%  52.6316% }
.g59831::after { background-position:   0.0000%  57.8947% }
.g59832::after { background-position:   5.2632%  57.8947% }
.g59833::after { background-position:  10.5263%  57.8947% }
.g59834::after { background-position:  15.7895%  57.8947% }
.g59835::after { background-position:  21.0526%  57.8947% }
.g59836::after { background-position:  26.3158%  57.8947% }
.g59837::after { background-position:  31.5789%  57.8947% }
.g59838::after { background-position:  36.8421%  57.8947% }
.g59839::after { background-position:  42.1053%  57.8947% }
.g59840::after { background-position:  47.3684%  57.8947% }
.g59841::after { background-position:  52.6316%  57.8947% }
.g59842::after { background-position:  57.8947%  57.8947% }
.g59843::after { background-position:  63.1579%  57.8947% }
.g59844::after { background-position:  68.4211%  57.8947% }
.g59845::after { background-position:  73.6842%  57.8947% }
.g59846::after { background-position:  78.9474%  57.8947% }
.g59847::after { background-position:  84.2105%  57.8947% }
.g59848::after { background-position:  89.4737%  57.8947% }
.g59849::after { background-position:  94.7368%  57.8947% }
.g59850::after { background-position: 100.0000%  57.8947% }
.g59851::after { background-position:   0.0000%  63.1579% }
.g59852::after { background-position:   5.2632%  63.1579% }
.g59853::after { background-position:  10.5263%  63.1579% }
.g59854::after { background-position:  15.7895%  63.1579% }
.g59856::after { background-position:  21.0526%  63.1579% }
.g59857::after { background-position:  26.3158%  63.1579% }
.g59858::after { background-position:  31.5789%  63.1579% }
.g59859::after { background-position:  36.8421%  63.1579% }
.g59860::after { background-position:  42.1053%  63.1579% }
.g59861::after { background-position:  47.3684%  63.1579% }
.g59862::after { background-position:  52.6316%  63.1579% }
.g59863::after { background-position:  57.8947%  63.1579% }
.g59864::after { background-position:  63.1579%  63.1579% }
.g59865::after { background-position:  68.4211%  63.1579% }
.g59866::after { background-position:  73.6842%  63.1579% }
.g59867::after { background-position:  78.9474%  63.1579% }
.g59868::after { background-position:  84.2105%  63.1579% }
.g59869::after { background-position:  89.4737%  63.1579% }
.g59870::after { background-position:  94.7368%  63.1579% }
.g61440::after { background-position: 100.0000%  63.1579% }
.g61442::after { background-position:   0.0000%  68.4211% }
.g61444::after { background-position:   5.2632%  68.4211% }
.g61446::after { background-position:  10.5263%  68.4211% }
.g61447::after { background-position:  15.7895%  68.4211% }
.g61448::after { background-position:  21.0526%  68.4211% }
.g61449::after { background-position:  26.3158%  68.4211% }
.g61450::after { background-position:  31.5789%  68.4211% }
.g61452::after { background-position:  36.8421%  68.4211% }
.g61453::after { background-position:  42.1053%  68.4211% }
.g61454::after { background-position:  47.3684%  68.4211% }
.g61455::after { background-position:  52.6316%  68.4211% }
.g61456::after { background-position:  57.8947%  68.4211% }
.g61457::after { background-position:  63.1579%  68.4211% }
.g61458::after { background-position:  68.4211%  68.4211% }
.g61459::after { background-position:  73.6842%  68.4211% }
.g61460::after { background-position:  78.9474%  68.4211% }
.g61461::after { background-position:  84.2105%  68.4211% }
.g61462::after { background-position:  89.4737%  68.4211% }
.g61464::after { background-position:  94.7368%  68.4211% }
.g61465::after { background-position: 100.0000%  68.4211% }
.g61466::after { background-position:   0.0000%  73.6842% }
.g61467::after { background-position:   5.2632%  73.6842% }
.g61468::after { background-position:  10.5263%  73.6842% }
.g61470::after { background-position:  15.7895%  73.6842% }
.g61471::after { background-position:  21.0526%  73.6842% }
.g61472::after { background-position:  26.3158%  73.6842% }
.g61473::after { background-position:  31.5789%  73.6842% }
.g61474::after { background-position:  36.8421%  73.6842% }
.g61475::after { background-position:  42.1053%  73.6842% }
.g61476::after { background-position:  47.3684%  73.6842% }
.g61477::after { background-position:  52.6316%  73.6842% }
.g61478::after { background-position:  57.8947%  73.6842% }
.g61479::after { background-position:  63.1579%  73.6842% }
.g61480::after { background-position:  68.4211%  73.6842% }
.g61481::after { background-position:  73.6842%  73.6842% }
.g61482::after { background-position:  78.9474%  73.6842% }
.g61483::after { background-position:  84.2105%  73.6842% }
.g61484::after { background-position:  89.4737%  73.6842% }
.g61486::after { background-position:  94.7368%  73.6842% }
.g61487::after { background-position: 100.0000%  73.6842% }
.g61488::after { background-position:   0.0000%  78.9474% }
.g61489::after { background-position:   5.2632%  78.9474% }
.g61490::after { background-position:  10.5263%  78.9474% }
.g61491::after { background-position:  15.7895%  78.9474% }
.g61493::after { background-position:  21.0526%  78.9474% }
.g61494::after { background-position:  26.3158%  78.9474% }
.g61495::after { background-position:  31.5789%  78.9474% }
.g61496::after { background-position:  36.8421%  78.9474% }
.g61497::after { background-position:  42.1053%  78.9474% }
.g61498::after { background-position:  47.3684%  78.9474% }
.g61499::after { background-position:  52.6316%  78.9474% }
.g61500::after { background-position:  57.8947%  78.9474% }
.g61501::after { background-position:  63.1579%  78.9474% }
.g61502::after { background-position:  68.4211%  78.9474% }
.g61503::after { background-position:  73.6842%  78.9474% }
.g61504::after { background-position:  78.9474%  78.9474% }
.g61505::after { background-position:  84.2105%  78.9474% }
.g61506::after { background-position:  89.4737%  78.9474% }
.g61507::after { background-position:  94.7368%  78.9474% }
.g61508::after { background-position: 100.0000%  78.9474% }
.g61509::after { background-position:   0.0000%  84.2105% }
.g61510::after { background-position:   5.2632%  84.2105% }
.g61511::after { background-position:  10.5263%  84.2105% }
.g61512::after { background-position:  15.7895%  84.2105% }
.g61513::after { background-position:  21.0526%  84.2105% }
.g61514::after { background-position:  26.3158%  84.2105% }
.g61515::after { background-position:  31.5789%  84.2105% }
.g61517::after { background-position:  36.8421%  84.2105% }
.g61518::after { background-position:  42.1053%  84.2105% }
.g61519::after { background-position:  47.3684%  84.2105% }
.g61520::after { background-position:  52.6316%  84.2105% }
.g61521::after { background-position:  57.8947%  84.2105% }
.g61522::after { background-position:  63.1579%  84.2105% }
.g61523::after { background-position:  68.4211%  84.2105% }
.g61524::after { background-position:  73.6842%  84.2105% }
.g61525::after { background-position:  78.9474%  84.2105% }
.g61528::after { background-position:  84.2105%  84.2105% }
.g61529::after { background-position:  89.4737%  84.2105% }
.g61530::after { background-position:  94.7368%  84.2105% }
.g61531::after { background-position: 100.0000%  84.2105% }
.g61532::after { background-position:   0.0000%  89.4737% }
.g61533::after { background-position:   5.2632%  89.4737% }
.g61534::after { background-position:  10.5263%  89.4737% }
.g61535::after { background-position:  15.7895%  89.4737% }
.g61536::after { background-position:  21.0526%  89.4737% }
.g61537::after { background-position:  26.3158%  89.4737% }
.g61538::after { background-position:  31.5789%  89.4737% }
.g61539::after { background-position:  36.8421%  89.4737% }
.g61540::after { background-position:  42.1053%  89.4737% }
.g61541::after { background-position:  47.3684%  89.4737% }
.g61542::after { background-position:  52.6316%  89.4737% }
.g61543::after { background-position:  57.8947%  89.4737% }
.g61544::after { background-position:  63.1579%  89.4737% }
.g61545::after { background-position:  68.4211%  89.4737% }
.g61546::after { background-position:  73.6842%  89.4737% }
.g61547::after { background-position:  78.9474%  89.4737% }
.g61548::after { background-position:  84.2105%  89.4737% }
.g61549::after { background-position:  89.4737%  89.4737% }
.g61550::after { background-position:  94.7368%  89.4737% }
.g61551::after { background-position: 100.0000%  89.4737% }
.g61552::after { background-position:   0.0000%  94.7368% }
.g61553::after { background-position:   5.2632%  94.7368% }
.g61554::after { background-position:  10.5263%  94.7368% }
.g61555::after { background-position:  15.7895%  94.7368% }
.g61556::after { background-position:  21.0526%  94.7368% }
.g61557::after { background-position:  26.3158%  94.7368% }
.g61558::after { background-position:  31.5789%  94.7368% }
.g61559::after { background-position:  36.8421%  94.7368% }
.g61560::after { background-position:  42.1053%  94.7368% }
.g61561::after { background-position:  47.3684%  94.7368% }
.g61562::after { background-position:  52.6316%  94.7368% }
.g61563::after { background-position:  57.8947%  94.7368% }
.g61564::after { background-position:  63.1579%  94.7368% }
.g61565::after { background-position:  68.4211%  94.7368% }
.g61566::after { background-position:  73.6842%  94.7368% }
.g61567::after { background-position:  78.9474%  94.7368% }
.g61568::after { background-position:  84.2105%  94.7368% }
.g61569::after { background-position:  89.4737%  94.7368% }
.g61570::after { background-position:  94.7368%  94.7368% }
.g61571::after { background-position: 100.0000%  94.7368% }
.g61572::after { background-position:   0.0000% 100.0000% }
.g61573::after { background-position:   5.2632% 100.0000% }
.g61574::after { background-position:  10.5263% 100.0000% }
.g61575::after { background-position:  15.7895% 100.0000% }
.g61576::after { background-position:  21.0526% 100.0000% }
.g61577::after { background-position:  26.3158% 100.0000% }
.g61578::after { background-position:  31.5789% 100.0000% }
.g61579::after { background-position:  36.8421% 100.0000% }
.g61581::after { background-position:  42.1053% 100.0000% }
.g61582::after { background-position:  47.3684% 100.0000% }
.g61583::after { background-position:  52.6316% 100.0000% }
.g61584::after { background-position:  57.8947% 100.0000% }
.g61585::after { background-position:  63.1579% 100.0000% }
.g61586::after { background-position:  68.4211% 100.0000% }
.g61587::after { background-position:  73.6842% 100.0000% }
.g61588::after { background-position:  78.9474% 100.0000% }
.g61589::after { background-position:  84.2105% 100.0000% }
